.about {
  overflow: hidden;
}

.imagen-cv {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.imagen-cv > img {
  margin-left: -40px;
}
.imagen-cv > .download {
  margin-left: 40px;
  margin-top: 28px;
  background: #ffb703;
  font-family: "Codec", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #023047;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0.2em 1em;
  font-size: 0.7em;
  text-transform: uppercase;
  transition: background 0.8s ease-out;
  border-radius: 10px;
}
.download > a {
  margin-left: 5px;
}

.download:hover {
  background-color: #19d7f8;
}

.about__title {
  color: #ccd6f6;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 10px;
}

.about__section {
  margin-top: -30px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.profile-pic {
  width: 120px;
  height: 120px;
}

.about__sectionMe {
  color: white;
  margin: 0 15px;
  padding: 10px;
}
.about__sectionMePersonal {
  font-size: 1.1em;
  text-align: justify;
}

.about__sectionTitles {
  border-bottom: 1px solid #19d7f8;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul > li {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: -40px;
}
ul > li > img {
  width: 30px;
  margin-right: 10px;
}
