.contact {
  height: 100%;
}
.contact__title {
  margin-top: 30px;
  color: #ccd6f6;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact__details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.contact__details > h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 10px;
}

.contact__details > h3 {
  color: #ccd6f6;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 10px;
}

.contact__details > p {
  font-size: 1.2em;
  margin-top: 3px;
}
.contact__details > img {
  width: 35px;
}

.contact__info {
  margin-top: -15px;
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.contact__info > p {
  text-align: center;
}

.contact__infoRedes {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
}

.contact__infoRedes > a > img {
  width: 35px;
}

.contact__infoRedes > a > img:hover {
  transform: scale(1.2);
}
