.home {
  text-align: center;
}

.home__body {
  display: flex;
}

.home > h1 {
  color: white;
  font-size: 7.2vw;
  letter-spacing: -2px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  margin: 0 auto 18px auto;
}

.home__presentacion > h2 {
  color: #19dafa;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home__presentacion {
  font-size: 2.2vw;
  padding: 20px;
  margin: 10px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffb703, #19d7f8) 1 100%;
  min-width: 35%;
}

.home__presentacion > .subtitle {
  color: white;
  font-size: 1.3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5em 0;
}

.home__presentacion > .descripcion {
  color: #a8a8a8;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

blockquote {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5vw;
  padding: 20px;
  color: white;
}

blockquote > .frase {
  color: #19dafa;
}

cite {
  font-size: 1.5vw;
  text-align: right;
  font-weight: 700;
  margin-left: 70%;
  margin-top: 15px;
  color: white;
}

.home__card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home__card > img {
  margin-top: 10px;
  width: 25%;
  margin: 10px;
  border-radius: 10%;
}

.home__card > img:hover {
  box-shadow: 0 0 2px 1px rgba(36, 199, 253, 0.685);
}

@media (max-width: 850px) {
  .home {
    height: 75vh;
  }
}
