.portafolio__section {
  display: flex;
  padding: 30px;
}

.portafolio__title {
  color: #ccd6f6;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 970px) {
  .portafolio__section {
    display: flex;
    flex-wrap: wrap;
  }
}
